<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="left" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse border-right pt-3">
  <div class="sidebar-sticky">
    <div class="mb-5 text-center"><h2>My 당근</h2></div>
    <ul class="nav flex-column text-center">
      <li class="nav-item my-3">
        <a class="nav-link text-dark" th:href="@{/member/my-info}">
          내 정보
        </a>
      </li>
      <li class="nav-item my-3">
        <a class="nav-link text-dark" th:href="@{/member/wishlist}">
          위시리스트
        </a>
      </li>
      <li class="nav-item my-3">
        <a class="nav-link text-dark" th:href="@{/member/sales-item}">
          판매내역
        </a>
      </li>
      <li class="nav-item my-3">
        <a class="nav-link text-dark" th:href="@{/member/purchased-item}">
          구매내역
        </a>
      </li>
    </ul>
  </div>
</nav>
</html>
