<!doctype html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<style type="text/css">
	   .ui-autocomplete
	   {
	       max-height: 300px;
	       overflow-y: auto; 
	       overflow-x: hidden;
	   }
	</style>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">	
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
	<th:block layout:fragment="content">
		<!--main start-->
		<main role="main">
			<div class="row justify-content-md-center py-5">
				<div class="w-100 text-center mb-5">
					<img src="app/images/loginLogo.png"
						style="height: 300px" />
				</div>			
				<div class="w-25">
					<form>
						<div class="form-group">
							<div class="form-group">
								<label for="email">이메일 주소 </label> <input type="email"
									class="form-control" id="email" placeholder="Email Address">
							</div>
						</div>
						<div class="form-group">
							<label for="password">비밀번호</label> <input type="password"
								class="form-control" id="password" placeholder="Password">
						</div>
						<div class="form-group">
							<label for="password-check">비밀번호 확인</label> <input type="password"
								class="form-control" id="passwordCheck" placeholder="Password Check">
						</div>
						<div class="form-group">
							<label for="nickname">닉네임</label> <input type="text"
								class="form-control" id="nickname" placeholder="Nickname">
						</div>
						<div class="form-group">
							<label for="search-region">내 동네 검색</label> <input type="text"
								class="form-control" id="search-region" placeholder="동명(읍, 면)으로 검색(ex.서초동)">
							<div class="mt-3" id="map" style="width:100%;height:350px;"></div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-10">
								<input type="text"
									class="form-control" id="region" readonly="readonly">
							</div>
							<div class="form-group col-md-2">
								<button class="btn btn-warning" type="button" onclick="getCurrentLocation()">
									<i class="bi bi-geo-alt-fill"></i>
								</button>
							</div>
						</div>
						<div class="text-center">
							<button type="button" class="btn btn-warning" id="btn-register">회원가입</button>
							<a class="btn btn-warning" th:href="@{/}">취소</a>
						</div>
					</form>
				</div>
			</div>
		</main>
		<!-- main end-->
		<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=69101a0b646ceaf35f15bd1e1d696182&libraries=services"></script>
		<script src="/app/js/kakaomap.js"></script>
		<script src="/app/js/register.js"></script>
		<script src="/app/js/autocomplete.js"></script>
	</th:block>
</body>
</html>